* {margin:0; padding:0;}
html, body {height: 100%;}
body {font-family:Metropolis; font-size:18px; line-height:30px; color:#313131; background:#ffffff; letter-spacing:-0.5px;}
.clear {display:block; clear:both; height:0;}
a img {border:none;}
a {outline:none;}

header, nav, section, article, aside, footer {display:block;}

.loaded *, .loaded {-moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in;}
img {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;}
input[type="submit"] {-webkit-appearance: none;}


/***** Fonts *****/
@font-face {
    font-family: 'MetropolisLight';
    src: url('fonts/metropolis-light-webfont.eot');
    src: url('fonts/metropolis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metropolis-light-webfont.woff2') format('woff2'),
         url('fonts/metropolis-light-webfont.woff') format('woff'),
         url('fonts/metropolis-light-webfont.ttf') format('truetype'),
         url('fonts/metropolis-light-webfont.svg#metropolislight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetropolisBold';
    src: url('fonts/metropolis-bold-webfont.eot');
    src: url('fonts/metropolis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('fonts/metropolis-bold-webfont.woff') format('woff'),
         url('fonts/metropolis-bold-webfont.ttf') format('truetype'),
         url('fonts/metropolis-bold-webfont.svg#metropolisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetropolisMedium';
    src: url('fonts/metropolis-medium-webfont.eot');
    src: url('fonts/metropolis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metropolis-medium-webfont.woff2') format('woff2'),
         url('fonts/metropolis-medium-webfont.woff') format('woff'),
         url('fonts/metropolis-medium-webfont.ttf') format('truetype'),
         url('fonts/metropolis-medium-webfont.svg#metropolismedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/metropolis-regular-webfont.eot');
    src: url('fonts/metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('fonts/metropolis-regular-webfont.woff') format('woff'),
         url('fonts/metropolis-regular-webfont.ttf') format('truetype'),
         url('fonts/metropolis-regular-webfont.svg#metropolisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/***** Wrapper *****/
#wrapper {position:relative; z-index:1000; background-color:#ffffff;}




/***** Banner *****/
#banner-container {background-size:cover !important; position:relative; background-attachment:fixed !important;}

#banner-content {text-align:center; padding:0 15px 0 15px; color:#ffffff; font-size:25px; line-height:30px; font-family:MetropolisLight; z-index:100; position:relative;}
#banner-content h1 {font-weight:normal; font-family:MetropolisLight; color:#ffffff; font-size:62px; line-height:70px;  padding-bottom:16px;}
#banner-content a {text-decoration:none; display:inline-block; color:#787878; text-transform:uppercase; font-size:17px; letter-spacing:1px; font-family:Metropolis; background:#ffffff; border-radius:24px; padding:10px 77px 8px 29px; position:relative; margin-top:55px;}
#banner-content a:after {content:""; display:block; position:absolute; right:26px; top:50%; margin-top:-13px; width:17px; height:27px; background: transparent url(images/arrow-down.png) no-repeat left top;}
#banner-content a:hover {background-color:#00c6fc; color:#000}




/***** Header *****/
#header-container {position:fixed; left:0; top:0; z-index:9999; width:100%; padding:0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#header {max-width:1744px; margin:0 auto; padding:23px 0 0 0;}




/***** Logo *****/
#logo {display:block; float:left; margin:31px 0 0 72px; -moz-transition: none !important; -webkit-transition: none !important; -o-transition: none !important;}
#logo img {display:block; max-width:100%; height:auto; -moz-transition: none !important; -webkit-transition: none !important; -o-transition: none !important;}
#logo .nz-logo {display:none;}


#header-container.scrolled, #header-container.menu-opened {background-color:rgba(0,0,0,0.5)}
#header-container.scrolled #header {padding-top:10px;}
#header-container.scrolled #logo {max-width:200px; margin-top:5px;}
#header-container.scrolled #nav {padding-top:12px;}




/***** Phone *****/
#phone {float:right; text-decoration:none; color:#ffffff; cursor:default; color:#00c6fc; font-family:MetropolisMedium; font-size:22px; line-height:28px;}
#phone i {font-size:28px; margin-right:1px; position:relative; top:3px;}




/***** Menu *****/
#nav {float:right; clear:right; padding-top:32px;}
#menu {list-style:none;}

#menu > li {float:left; margin-left:24px; position:relative; padding-bottom:10px;}
#menu li a {font-size:16px; line-height:24px; font-family:MetropolisBold; color:#ffffff; text-decoration:none; text-transform:uppercase; display:block;}
#menu > li.current-menu-item > a, #menu > li.current-menu-parent > a, #menu li a:hover {color:#00c6fc;}

#menu > li > ul {list-style:none; position:absolute; left:-10px; top:34px; white-space:nowrap; background-color:#00c6fc; padding:8px 10px; display:none;}
#menu > li:hover > a {color:#00c6fc;}
#menu > li:hover > ul {display:block;}
#menu > li > ul > li {display:block; padding:4px 0;}
#menu > li > ul > li > a {font-size:13px;}
#menu > li > ul > li.current-menu-item > a, #menu > li > ul > li > a:hover {color:#00c6fc;}




/***** Menu Button *****/
#menu-button {text-decoration:none; display:none; position:absolute; right:15px; top:50%; margin-top:-10px; width:28px; height:20px;}

#menu-button span.lines {width:28px; height:20px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); cursor: pointer; position:absolute; left:0; top:0; z-index:150; display:block;}

#menu-button span.lines span {display:block; position: absolute; height: 4px; width: 100%; background: #ffffff; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .2s ease-in-out; -moz-transition: .2s ease-in-out; -o-transition: .2s ease-in-out; transition: .2s ease-in-out;}
#menu-button span.lines span:nth-child(1) {top: 0px;}
#menu-button span.lines span:nth-child(2),#menu-button span:nth-child(3) {top:8px;}
#menu-button span.lines span:nth-child(4) {top:16px;}
#menu-button.active span.lines span:nth-child(1) {top:8px; width: 0%; left: 50%;}
#menu-button.active span.lines span:nth-child(2) {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
#menu-button.active span.lines span:nth-child(3) {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#menu-button.active span.lines span:nth-child(4) {top:8px; width: 0%; left: 50%;}


#mobile-nav {display:none; position:absolute; clear:both; width:100% !important; z-index:1000; top:80px; left:0; width:100%; background-color:rgba(0,0,0,0.5);}
#mobile-menu {list-style:none; padding:0 0 15px 0; text-align:center;}
#mobile-menu li {padding:8px 0;}
#mobile-menu li ul {list-style:none; display:none;}
#mobile-menu li a {text-decoration:none; color:#ffffff; font-size:12.5px; line-height:20px; font-family:MetropolisBold; display:inline-block; text-transform:uppercase;}
#mobile-menu li ul li {padding:0;}
#mobile-menu li ul li a {font-size:11px; line-height:16px;}
#mobile-menu > li.current-menu-item > a, #mobile-menu > li.current-menu-parent > a, #mobile-menu > li > ul > li.current-menu-item > a {color:#00c6fc;}




/***** Contact Us *****/
#contact-us-container {padding:90px 15px 154px 15px; background: transparent url(images/contact-bg.jpg) no-repeat center center; background-size:cover;}

#contact-us {max-width:1082px; margin:0 auto; text-align:center; color:#ffffff;}
#contact-us .left {width:60.90%; margin-right:10.25%; float:left;}
#contact-us .right {width:28.85%; float:left; text-align:left; padding-top:84px;}

#contact-us .right p {padding-bottom:7px;}
#contact-us .right p:first-of-type {padding-bottom:44px;}
#contact-us .right p:last-of-type {font-size:25px; padding-top:26px;}
#contact-us .right strong {font-weight:normal; font-family:MetropolisBold;}
#contact-us .right a {color:#ffffff; text-decoration:none;}

#contact-us label {color:#ffffff; font-size:37px; line-height:44px;  font-family:MetropolisLight; text-align:right; display:block; font-weight:normal; padding:0 35px 47px 0;}
#contact-us input[type="text"], #contact-us input[type="email"] {height:82px; line-height:82px; padding-left:30px; background-color:#ffffff; border:none; border-radius:9px; color:#757575;  font-family:Metropolis; font-size:19px; width:100%; margin-bottom:29px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#contact-us textarea {height:149px; line-height:30px; max-height:149px; min-height:149px; min-width:100%; max-width:100%; padding-left:30px; background-color:#ffffff; border:none; border-radius:9px; color:#757575;  font-family:Metropolis; font-size:19px; width:100%; margin-bottom:27px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top:26px;}
#contact-us input[type="submit"] {height:82px; line-height:82px; background-color:#e61d2e; text-align:center; border:1px solid #ffffff; border-radius:9px; color:#ffffff;  font-family:Metropolis; font-size:28px; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#contact-us input[type="submit"]:hover {cursor:pointer; background-color:#ffffff; color:#e61d2e;}

#contact-us ::-webkit-input-placeholder {color:#757575;}
#contact-us :-moz-placeholder {color:#757575; opacity:1;}
#contact-us ::-moz-placeholder {color:#757575; opacity:1;}
#contact-us :-ms-input-placeholder {color:#757575;}

#contact-us-container.no-image {background-image:none !important; background-color:#e4e4dc;}
#contact-us-container.no-image #contact-us {color:#4d4d4d;}
#contact-us-container.no-image #contact-us .right a {color:#4d4d4d;}
#contact-us-container.no-image #contact-us label {color:#494949;}




/***** Footer *****/
#footer-container {background:#0373a6 url(images/footer-bg.png) repeat-x left top;}
#footer {max-width:1920px; margin:0 auto; padding:73px 36px 31px 130px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}




/***** Footer Logo *****/
#footer-logo {display:block; float:left;}
#footer-logo img {display:block; max-width:100%; height:auto;}
#footer-logo .nz-logo {display:none;}




/***** Footer Menu *****/
#footer-nav {padding:52px 0 23px 0;}
#footer-menu {list-style:none;}
#footer-menu > li {float:left; margin-right:24px;}
#footer-menu li a {font-size:16px; line-height:24px; font-family:MetropolisBold; color:#ffffff; text-decoration:none; text-transform:uppercase; display:block;}
#footer-menu > li.current-menu-item > a, #footer-menu > li.current-menu-parent > a, #footer-menu li a:hover {color:#00c6fc;}
#footer-menu > li > ul {list-style:none; display:block; padding-top:9px;}
#footer-menu > li > ul > li {display:block; padding:4px 0 5px 0;}
#footer-menu > li > ul > li > a {font-size:16px; line-height:22px; font-family:Metropolis;}
#footer-menu > li > ul > li.current-menu-item > a, #footer-menu > li > ul > li > a:hover {color:#00c6fc;}




/***** Copyright *****/
#copyright {float:left;}
#copyright p {font-size:16px; color:#ffffff;}




/***** Credits *****/
#credits {float:right;}
#credits a {font-size:16px; color:#ffffff; text-decoration:none;}
#credits a:hover {color:#00c6fc;}




/***** Services *****/
#services-container {padding:0 15px; background:#ffffff url(images/gradient.png) repeat-x left top; text-align:center;}
#services {max-width:1200px; margin:0 auto; padding:109px 0 49px 0;}
#services .columns {text-align:left;}



/***** Page Content *****/
.page-content h1 {font-weight:normal; color:#676465; font-size:40px; line-height:44px; font-family:MetropolisLight; padding:0 0 46px 0;}
.page-content h2 {font-weight:normal; color:#676465; font-size:37px; line-height:40px; font-family:MetropolisLight; padding:0 0 46px 0;}
.page-content h3 {font-weight:normal; color:#313131; font-size:22px; line-height:30px; font-family:MetropolisMedium; padding:53px 0 8px 0;}
.page-content h4 {font-weight:normal; color:#313131; font-size:20px; line-height:28px; font-family:MetropolisMedium; padding:33px 0 5px 0;}
.page-content h5 {font-weight:normal; color:#313131; font-size:18px; line-height:26px; font-family:MetropolisMedium; padding:33px 0 5px 0;}
.page-content h6 {font-weight:normal; color:#313131; font-size:16px; line-height:24px; font-family:MetropolisMedium; padding:13px 0 5px 0;}


.page-content strong {font-weight:normal; font-family:MetropolisBold;}

.page-content .column:nth-child(1) h3 {padding-top:89px;}
.page-content .column:nth-child(4) h3 {padding-top:0; margin-top:-22px;}
.page-content .column:nth-child(2) img {margin-top:18px;}
.page-content .column:nth-child(6) img {margin-top:14px;}
.page-content .column:nth-child(5) {clear:left;}

.page-content img {margin:105px 0 0 0;}
.page-content img.full {position:absolute; left:50%; width:50%; margin:0 !important;}
.page-content .alignleft {float:left;}
.page-content .alignright {float:right;}

.page-content .center {max-width:560px; margin:0 auto; text-align:center;}
.page-content .column {float:left; width:50%; padding-right:45px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.page-content .column:nth-child(2n) {float:right; padding-right:0; padding-left:45px;}
.page-content .column.no-padding {padding-left:0; padding-right:0;}

.page-content ul {padding:12px 0 12px 19px; color:#0099b6; font-family:MetropolisBold;}
.page-content ul li {padding-bottom:12px;}

.page-content .button {display:inline-block; padding:14px 54px 11px 24px; color:#ffffff; text-decoration:none; border-radius:24px; text-transform:uppercase; font-size:17px; line-height:24px; background:#d82028 url(images/right-arrow.png) no-repeat 92% center; margin:33px 0 0 0;}
.page-content .button:hover {background-color:#00c6fc;}




/***** About Us *****/
#about-container {padding:0 15px; background:#ffffff; position:relative;}
#about {max-width:1230px; margin:0 auto; padding:109px 0 73px 0;}


#about.page-content img {display:block; max-width:120%; margin:55px 0 0 -10%;}
#about.page-content h2 {text-align:center;}
#about.page-content h3 {padding:21px 0 45px 0 !important;}
#about.page-content img.no-margin {margin-top:0 !important;}


























/***** Media Queries *****/
@media screen and (max-width: 1500px){
    /***** Content *****/
    .page-content img {max-width:100% !important; height:auto !important; margin-left:auto !important; margin-right:auto !important;}
}


@media screen and (max-width: 1400px){
    /***** Banner *****/
    #banner-content {font-size:20px; line-height:25px;}
    #banner-content h1 {font-size:48px; line-height:56px; padding-bottom:10px;}
    #banner-content a {font-size:16px; padding:10px 59px 8px 30px; margin-top:35px;}

    .page-content .button {font-size:16px;}


    /***** Logo *****/
    #logo {margin-left:0;}
    #logo img {max-height:80px;}


    /***** Contact Us *****/
    #contact-us-container {padding:60px 15px 100px 15px;}
    #contact-us .right {padding-top:87px;}
    #contact-us .right p:first-of-type {padding-bottom:34px;}
    #contact-us .right p:last-of-type {font-size:22px; padding-top:16px;}

    #contact-us label {padding:0 35px 27px 0;}
    #contact-us input[type="text"], #contact-us input[type="email"] {height:62px; line-height:62px; margin-bottom:20px;}
    #contact-us textarea {height:129px; line-height:30px; max-height:129px; min-height:129px; margin-bottom:20px; padding-top:16px;}
    #contact-us input[type="submit"] {height:62px; line-height:62px;}


    /***** Contact Us *****/
    #footer {padding:43px 15px 21px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


    /***** Footer Logo *****/
    #footer-logo img {max-height:80px;}


    /***** Footer Menu *****/
    #footer-nav {padding:42px 0 23px 0;}
}


@media screen and (max-width: 1100px){
    /***** Logo *****/
    #logo {margin-top:10px;}


    /***** Footer Menu *****/
    #footer {padding:20px 15px 15px 15px;}
    #footer-logo {margin-bottom:15px;}
    #footer-logo img {max-height:50px;}
    #footer-nav {display:none !important;}


    /***** Banner *****/
    #banner-container {background-attachment:initial !important;}
    #banner-content h1 {font-size:42px; line-height:52px; padding-bottom:10px;}


    /***** Logo *****/
    #logo {margin-top:0 !important; max-width:none !important;}
    #logo img {max-height:40px;}


    /***** Header *****/
    #header {padding:10px 0 !important;}
    #header:after {content:""; display:table; clear:both;}


    /***** Menu *****/
    #nav {display:none;}
    #menu-button {display:block;}
    #header-container {background-color:rgba(0,0,0,0.5);}
    #mobile-nav {top:70px;}


    /***** Phone *****/
    #phone {display:none;}


    /***** Services *****/
    #services {padding:70px 0 45px 0;}


    /***** About Us *****/
    #about {padding:70px 0 45px 0;}
    #about.page-content h3 {padding:15px 0 30px 0 !important;}
}


@media screen and (max-width: 960px){
    /***** Services *****/
    #services {padding:50px 0 40px 0;}


    /***** About Us *****/
    #about {padding:50px 0 40px 0;}
    #about.page-content h3 {padding:5px 0 10px 0 !important;}
    #about img.no-margin {display:none;}
    #about img {margin:0 auto 20px auto !important;}
    #about h3 {margin-top:0 !important; margin-left:0 !important;}
    #about p {margin-left:0 !important;}
    #about .columns .column.no-padding:first-child {padding-bottom:0 !important;}


    /***** Page Content *****/
    .page-content h1 {font-size:36px; line-height:42px; padding:0 0 35px 0;}
    .page-content h2 {font-size:32px; line-height:36px; padding:0 0 35px 0;}
    .page-content h3 {font-size:20px; line-height:28px; padding:33px 0 8px 0 !important;}
    .page-content h4 {font-size:18px; line-height:26px; padding:18px 0 5px 0;}
    .page-content h5 {font-size:16px; line-height:24px; padding:18px 0 5px 0;}
    .page-content h6 {font-size:14px; line-height:22px; padding:6px 0 5px 0;}

    .page-content img {margin:0 auto !important; display:block;}
    .page-content img.full {position:relative; left:auto; width:auto; margin:0 0 10px 0 !important;}
    .page-content .alignleft {float:none !important;}
    .page-content .alignright {float:none !important;}

    .page-content .column {float:none !important; width:auto; padding-right:0 !important; padding-left:0 !important; padding-bottom:30px;}

    .page-content ul {padding:12px 0 12px 19px; color:#0099b6; font-family:MetropolisBold;}
    .page-content ul li {padding-bottom:12px;}

    .page-content .button {margin-top:15px;}
}

@media screen and (max-width: 750px){
    /***** Logo *****/
    #logo img {max-height:50px;}
    #mobile-nav {top:70px;}


    /***** Banner *****/
    #banner-content {font-size:14px; line-height:22px;}
    #banner-content h1 {font-size:24px; line-height:28px; padding-bottom:9px;}
    #banner-content a {font-size:14px; letter-spacing:0.5px; border-radius:22px; padding:10px 40px 8px 22px; margin-top:25px;}
    #banner-content a:after {height:21px; width:13px; background-size:13px auto; margin-top:-10px; right:15px;}
    #banner-content a:hover {background-color:#00c6fc; color:#000}


    /***** Body *****/
    body {font-size:14px; line-height:22px; letter-spacing:0;}


    /***** Contact Us *****/
    #contact-us-container {padding:30px 15px 35px 15px;}
    #contact-us .left {float:none; width:auto; margin-right:0;}
    #contact-us .right {padding-top:25px !important; float:none; width:auto;}
    #contact-us .right p:first-of-type {padding-bottom:15px;}
    #contact-us .right p:last-of-type {font-size:18px; padding-top:12px;}
    #contact-us label {padding:0 0 15px 0; text-align:center;}
    #contact-us input[type="text"], #contact-us input[type="email"] {height:50px; line-height:50px; margin-bottom:15px; padding-left:15px; border-radius:5px;}
    #contact-us textarea {height:109px; line-height:30px; max-height:109px; min-height:109px; margin-bottom:15px; padding-top:10px; padding-left:15px; border-radius:5px;}
    #contact-us input[type="submit"] {height:50px; line-height:50px; font-size:20px; border-radius:5px;}


    /***** Footer *****/
    #footer {padding:10px 15px 8px 15px; text-align:center;}


    /***** Footer Logo *****/
    #footer-logo {display:none;}


    /***** Copyright *****/
    #copyright {float:none;}
    #copyright p {font-size:13px; padding-bottom:2px;}


    /***** Credits *****/
    #credits {float:none;}
    #credits a {font-size:13px;}


    /***** Services *****/
    #services {padding:30px 0 30px 0;}
    #services h3 {padding-top:5px !important;}
    #services .center {padding-bottom:25px;}


    /***** About Us *****/
    #about {padding:30px 0 0 0;}
    #about.page-content h3 {padding:5px 0 10px 0 !important;}
    #about img.no-margin {display:none;}
    #about img {margin:0 auto 20px auto !important;}
    #about h3 {margin-top:0 !important; margin-left:0 !important;}
    #about p {margin-left:0 !important;}



    /***** Page Content *****/
    .page-content h1 {font-size:26px; line-height:32px; padding:0 0 20px 0;}
    .page-content h2 {font-size:24px; line-height:30px; padding:0 0 20px 0;}
    .page-content h3 {font-size:20px; line-height:28px; padding:25px 0 5px 0 !important;}
    .page-content h4 {font-size:18px; line-height:24px; padding:18px 0 5px 0;}
    .page-content h5 {font-size:16px; line-height:22px; padding:18px 0 5px 0;}
    .page-content h6 {font-size:14px; line-height:20px; padding:6px 0 5px 0;}

    .page-content img {margin:0 auto !important; display:block;}
    .page-content img.full {position:relative; left:auto; width:auto; margin:0 0 10px 0 !important;}
    .page-content .alignleft {float:none !important;}
    .page-content .alignright {float:none !important;}

    .page-content .column {float:none !important; width:auto; padding-right:0 !important; padding-left:0 !important; padding-bottom:30px;}

    .page-content ul {padding:12px 0 12px 19px; color:#0099b6; font-family:MetropolisBold;}
    .page-content ul li {padding-bottom:12px;}

    .page-content .button {margin-top:5px; font-size:14px; line-height:20px; padding:11px 45px 9px 15px; border-radius:22px; background-size:22px auto !important;}
}
