<%= render partial: "components/header", locals: { current_menu_parent: "current-menu-parent", menu_home_class: "", menu_cashback_promotions_class: "", menu_cashback_payments_and_distribution_class: "", menu_loyalty_programs_class: "",
                                                    menu_competitions_sweepstakes_and_games_class: "", menu_promotion_management_class: "", menu_gift_with_purchase_class: "",
                                                    menu_eftpos_cash_back_cards_class: "current-menu-item", menu_about_us_class: "", menu_register_class: "", menu_contact_class: ""} %>

<!-- Page Banner -->
<section id="page-banner-container" style="background: transparent url(cashbacks/images/eftpos-banner.jpg) no-repeat center center;">
  <article id="page-banner">
    <h1>EFTPOS Cash Back Cards</h1>
    <h2>Industry-leading reward schemes and data collection</h2>
  </article>
</section>

<!-- Wrapper -->
<div id="wrapper">
  <!-- Content -->
  <section class="container">
    <article class="content no-padding">
      <!-- Column Left -->
      <div class="column-left column">
        <img class="alignright" src="cashbacks/images/eftpos-image-1.png" />
      </div>

      <!-- Column Right -->
      <div class="column-right column">
        <p>Branded EFTPOS cashback cards are a visually striking and cost-effective way of promotion. They offer the potential both to directly increase sales, as well as capturing data for future marketing opportunities.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>


  <!-- Content Gray -->
  <section class="container gray">
    <article class="content">

      <!-- Column Left -->
      <div class="column-left column">
        <h2>Brand Recognition</h2>
        <p>Branded EFTPOS cards are a great way for your customers to choose their own reward, helping to build trust as well as the positive perception of your brand.</p>
        <p>Cards often stay in wallets and purses for months providing ongoing brand recognition and reminders. Designs can be changed quickly to keep messaging up to date and relevant.</p>
      </div>


      <!-- Column Right -->
      <div class="column-right column">
        <img class="alignleft" src="cashbacks/images/eftpos-image-2.png" />
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>


  <!-- Content -->
  <section class="container">
    <article class="content">

      <!-- Column Left -->
      <div class="column-left column">
        <img class="absolute-left" src="cashbacks/images/eftpos-image-3.jpg" />
      </div>


      <!-- Column Right -->
      <div class="column-right column">
        <h2>Why outsource?</h2>
        <p>Reward campaigns can be time consuming and draining when it comes to resources. Instead, we can provide full-service EFTPOS Cash Back card solutions right through from the initial strategy to distribution and delivery. Along the way we’ll also handle data capture and insight, using the industry’s best technology.</p>
        <p>We can link the person who received the card to where they shop - by retailer, time date and how much they spend. Powerful data to use individually or aggregated into a data warehouse.</p>
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>


  <!-- Content -->
  <section class="container">
    <article class="content">

      <!-- Column Left -->
      <div class="column-left column">
        <h2>Flexible solutions</h2>
        <p>With a wide range of options for digital platforms and delivery, our gift cards are more flexible than ever. While many customer appreciate a physical asset, new technology means there are new ways to offer your customers rewards, from text message to email – We’re always ahead of the curve.</p>
      </div>


      <!-- Column Right -->
      <div class="column-right column">
        <img class="alignleft" src="cashbacks/images/eftpos-image-4.png" />
      </div>

      <div class="clear"><!-- --></div>
    </article>
  </section>

  <%= render partial: "components/contact_us" %>

  <%= render partial: "components/footer", locals: {current_footer_parent: "current-menu-parent", footer_home_class: "", footer_cashback_promotions_class: "", footer_cashback_payments_and_distribution_class: "",
                                                      footer_loyalty_programs_class: "", footer_competitions_sweepstakes_and_games_class: "", footer_promotion_management_class: "",
                                                      footer_gift_with_purchase_class: "", footer_eftpos_cash_back_cards_class: "current-menu-item", footer_about_us_class: "", footer_register_class: "", footer_contact_class: ""} %>

</div>
