<%= render partial: "components/header", locals: { current_menu_parent: "", menu_home_class: "", menu_cashback_promotions_class: "", menu_cashback_payments_and_distribution_class: "",menu_loyalty_programs_class: "",
                                                    menu_competitions_sweepstakes_and_games_class: "", menu_promotion_management_class: "", menu_gift_with_purchase_class: "",
                                                    menu_eftpos_cash_back_cards_class: "", menu_about_us_class: "", menu_register_class: "current-menu-item", menu_contact_class: ""} %>

<!-- Wrapper -->
<div id="wrapper">
  <%= render partial: "components/register" %>

  <%= render partial: "components/footer", locals: {current_footer_parent: "", footer_home_class: "", footer_cashback_promotions_class: "", footer_cashback_payments_and_distribution_class: "",footer_loyalty_programs_class: "",
                                                      footer_competitions_sweepstakes_and_games_class: "", footer_promotion_management_class: "", footer_gift_with_purchase_class: "",
                                                      footer_eftpos_cash_back_cards_class: "", footer_about_us_class: "", footer_register_class: "current-menu-item", footer_contact_class: ""} %>
</div>
