<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="CashBack" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" type="text/css" media="all" href="cashbacks/fonts/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="cashbacks/style.css" />

    <script type="text/javascript" src="cashbacks/javascript/jquery-1.12.2.min.js"></script>
    <script type="text/javascript" src="cashbacks/javascript/jquery-ui.min.js"></script>
    <script type="text/javascript" src="cashbacks/javascript/site.js"></script>

    <title>CashBack</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
